<div [class]="col">
  <h4 class="subtitle">{{stitle}}</h4>
</div>

<div class="columns">
  <div class="column">
    <p-dataTable [value]="st1Data" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
      <p-column header="ลำดับ" [style]="{'width':'80px','text-align':'center'}">
        <ng-template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
          {{rowIndex+1}}
        </ng-template>
      </p-column>
      <p-column field="title" header="เรื่อง"></p-column>
      <p-column field="detail" header="รายละเอียด"></p-column>
      <p-column field="job_fullname" header="ผู้รับผิดชอบ">
        <ng-template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
          <p>{{item.job_fullname}}</p>
          <p>{{item.hname}}</p>
        </ng-template>
      </p-column>
      <p-column field="brand" header="เพิ่มเติม" [style]="{'width':'120px','text-align':'center'}">
        <ng-template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
          <a class="button is-small is-primary" (click)="getfile(item)" *ngIf="item.file_doc || item.file_img">
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          </a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  <div class="column" *ngIf="pageOpen>=1">
    <div class="columns">
      <div class="column is-9">
        <div class="notification">
          <button class="delete" (click)="esc()"></button>
          <h1 class="title">{{hTitle}}</h1>
          <div class="content">
            - {{hDetail}}
            <br>
            <small>{{hDate|date}}</small>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <ul *ngIf="docData">
          <li *ngFor="let item of docData">
            <a href="{{docfolderUrl}}{{item.generatedName}}" target="_blank">
              <i class="fa fa-file-text" aria-hidden="true"></i> : <span class="tag is-primary">Download</span>
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <hr>
    <div class="columns is-multiline" *ngIf="imgData">
      <div class="column is-3" *ngFor="let item of imgData">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <a href="{{imgFolder}}{{item.generatedName}}" target="_blank">
                <img src="{{imgFolder}}{{item.generatedName}}" alt="Image">
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>